{
  "appId": "com.ecooperative.ecoop",
  "appName": "E-COOPERATIVE",
  "webDir": ".",
  "bundledWebRuntime": false,
  "backgroundColor": "#F5F1E8",
  "server": {
    "androidScheme": "https"
  },
  "plugins": {
    "SplashScreen": {
      "launchShowDuration": 800,
      "backgroundColor": "#F5F1E8",
      "androidSplashResourceName": "splash",
      "showSpinner": false
    }
  }
}
